.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--body-bg-color);
	color: #fff;
	font-family: "Arial", "Helvetica", sans-serif;
}

h1, 
h2, 
h3 {
	margin: 10px 0;
	font-weight: 300;
	line-height: 1.3;
}

p {
	margin: 10px 0;
}

/* Scroll Bar Styles */

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  background-clip: content-box;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover-color);
}

/* Header */

header {
	background-image: url(../Media/cdhgif.gif);
	height: 100vh;
	background-repeat: no-repeat;
	background-clip: border-box;
	/* background-position: center; */
}

header h1, header h1 + p {
	text-align: center;
}

header h1 {
	margin-top: 0;
	padding-top: 10%;
	font-size: 2.5rem;
}

header h1 + p {
	width: 50%;
	margin: 50px auto;
	font-size: 1.3rem;
}